body{
    background-color: grey;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 75%
}
#number h1{
    font-size: 100%;
    color:lightsalmon;
}
.AuthorName h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 1px;
    line-height: 0.2em;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    line-height: 0.2em;
}
address{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-transform: capitalize;
}
ul{
    list-style-type: square;
    margin-left: 4em;
    font-size: 100%;
}
ol{
    list-style-type: upper-roman;
    font-family: monospace;
}
#learn h4,h5,h6,h7{
    word-spacing: 0.2em;
    text-transform: capitalize;
}
hr{
    border: 1px solid black;
    
    border-collapse: collapse;
    margin-top: 2mm;
    margin-bottom: 2mm;
}